bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea
.vs
BEAM.Tests/loggerTests/testLogs

BEAM.sln.DotSettings.user
*.log

.DS_Store
Thumbs.db

BEAM.sln.DotSettings.user

BEAM.Tests/loggerTests/testLogs/
.log
